.details{
    display: flex;
    gap: 30px;
    padding: 10px;
    margin: 10px 0;
    min-height: screen;
    flex-wrap: wrap;
    
}
.details-page{
    width: 90%;
    padding: 10px;
    min-height: screen;
    margin: 50px auto;

}
.details img{
   
    width: 200px;
    height: 200px;
}

.back{
    text-decoration: none;
    color: black;
    background: white;
    box-shadow: 1px 1px 2px gray;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
}

.sec-1{
   
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sec-1 span{
    font-weight: bold;
    color: rgb(89, 143, 9);
}
.sec-2 span{
    font-weight: bold;
    color: rgb(89, 143, 9);
}

.sec-3 span{
    padding: 8px;
    box-shadow: 1px 1px 2px gray;
    border-radius: 5px;
}
.sec-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.sec-2{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width:756px) {
    .details img{
        width: 100%;
    }
    
}