.search-filter{
    width: full;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
.search-filter input{
    padding: 10px;
    border: 1px solid green;
    border-radius: 2px;
    max-width: 300px;
    border: none;
    outline: none;
}
.search-filter select{
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 2px gray;
    border-radius: 5px;
    outline: none;
}

.search-filter div{
    border: 2px solid orange;
    border-radius: 5px;
    background: white;
    color: black;
}